source/state-machines/ASLdefinition.json
{
  "StartAt": "PreparePayload",
  "States": {
    "PreparePayload": {
      "Type": "Pass",
      "Parameters": {
        "envVars.$": "$",
        "stateMachine": {
          "statusCode": 200,
          "instanceCount": 1,
          "volumeSizeInGB": 100,
          "timeout": 86400,
          "instanceType.$": "$.INSTANCE_TYPE",
          "ecrImageArn.$": "$.ECR_IMAGE_URI",
          "containerRoleArn.$": "$.CONTAINER_ROLE_ARN",
          "completeLambdaName.$": "$.LAMBDA_COMPLETE_NAME",
          "containerEntryPoint": ["python"],
          "containerArgs": ["main.py"]
        },
        "sns.$": "$.SNS_TOPIC_ARN"
      },
      "Next": "InvokeGSWorkflow"
    },
    "InvokeGSWorkflow": {
      "Type": "Task",
      "InputPath": "$",
      "ResultPath": "$.invokeWorkflow",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "$.envVars.UUID",
        "ResourceConfig": {
          "InstanceCount.$": "$.stateMachine.instanceCount",
          "InstanceType.$": "$.stateMachine.instanceType",
          "VolumeSizeInGB.$": "$.stateMachine.volumeSizeInGB"
        },
        "AlgorithmSpecification": {
          "TrainingImage.$": "$.stateMachine.ecrImageArn",
          "TrainingInputMode": "File",
          "ContainerEntrypoint.$": "$.stateMachine.containerEntryPoint",
          "ContainerArguments.$": "$.stateMachine.containerArgs"
        },
        "OutputDataConfig": {
          "S3OutputPath.$": "$.envVars.S3_OUTPUT"
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds.$": "$.stateMachine.timeout"
        },
        "RoleArn.$": "$.stateMachine.containerRoleArn",
        "InputDataConfig": [
          {
            "ChannelName": "model",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri.$": "$.envVars.MODEL_INPUT",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          },
          {
            "ChannelName": "training",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri.$": "$.envVars.S3_INPUT",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ],
        "Environment.$": "$.envVars"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.JobFailed"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "SageMaker.ResourceLimitExceededException"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 5,
          "BackoffRate": 1
        },
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 5,
          "BackoffRate": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "ErrorHandler"
        }
      ],
      "Next": "SuccessHandler"
    },
    "ErrorHandler": {
      "Type": "Pass",
      "Parameters": {
        "stateMachine.$": "$.stateMachine",
        "envVars.$": "$.envVars",
        "sns.$": "$.sns",
        "error.$": "$.error",
        "status": "FAILED"
      },
      "Next": "Complete"
    },
    "SuccessHandler": {
      "Type": "Pass",
      "Parameters": {
        "stateMachine.$": "$.stateMachine",
        "envVars.$": "$.envVars",
        "sns.$": "$.sns",
        "status": "SUCCESS",
        "result.$": "$.invokeWorkflow"
      },
      "Next": "Complete"
    },
    "Complete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "InputPath": "$",
      "ResultPath": "$.complete",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName.$": "$.stateMachine.completeLambdaName"
      },
      "End": true
    }
  }
}